<!DOCTYPE html>
<html lang="ru" ng-app="RybaModule">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RYBA DESIGN</title>
        <meta name="description" content="Дизайн интерьера, архитектура, ландшафтный дизайн, Рыбинск, Ярославль">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
    </head>
    <body class="page_loading" ng-controller="RybaController">
    <div class="blackscreen"></div>
    <div class="container layout">
      <header class="header">
        <h1 class="header__h1"><a class="header__link" href="#/portfolio">RYBA DESIGN</a></h1>
      </header>
      <section class="pages slider">
        <article ng-view></article>
      </section>
      <footer class="footer">
        <nav>
          <ul class="footer__menu common-menu" ng-controller="MenuCtrl">
            <li><a class="link" href="#/portfolio" ng-class="{ 'link_bold' : isActive('/portfolio')}">Портфолио</a></li>
            <li><a class="link" href="#/services" ng-class="{ 'link_bold' : isActive('/services')}">Услуги</a></li>
            <li><a class="link" href="#/price" ng-class="{ 'link_bold' : isActive('/price')}">Цены</a></li>
            <li><a class="link" href="#/about" ng-class="{ 'link_bold' : isActive('/about')}">О нас</a></li>
            <li><a class="link" href="#/contacts" ng-class="{ 'link_bold' : isActive('/contacts')}">Контакты</a></li>
          </ul>
        </nav>
        <div class="footer__info">RYBA-Design — архитектурное проектирование коттеджей, малоэтажных зданий различного назначения, дизайн интерьеров, ландшафтный дизайн. Индивидуальный подход. Профессиональное исполнение.</div>
      </footer>
    </div>
<script type="text/ng-template" id="portfolio.html">
    <div class="portfolio">
        <h1 class="sub-header">Дизайн интерьера, архитектура, ландшафтный дизайн.</h1>
        <div class="projects-grid">
            <div class="projects-grid__line">
                <div class="project-grid__item" ng-repeat="project in projects">
                    <a href="#/portfolio/{{project.name}}" data-name="{{project.name}}" class="project-grid__link showProjectLink" style="background-image: url('img/gallery/{{project.name}}/cover.jpg')"></a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="project.html">
    <section class="project">
        <h1 class="sub-header project__title">{{project.title}}</h1>
        <div class="project__wrapper">
            <p class="project__title"><strong>Объект:</strong> <span>{{project.desc}}</span></p>
            <p class="project__location"><strong>Расположение:</strong> <span>{{project.location}}</span></p>
            <p class="project__year"><strong>Проектирование:</strong> <span>{{project.year}}</span></p>
        </div>
        <div class="gallery">
            <div class="gallery__item" style="background-image: url('{{item}}')" ng-repeat="item in project.cover"></div>
        </div>
    </section>
</script>
<script type="text/ng-template" id="services.html">
    <h1 class="sub-header">Услуги</h1>
    <div class="paper">
        <p>Основное направление деятельности студии — проектирование загородных коттеджей и дизайн интерьеров помещений любого назначения.</p>
        <p>Дизайн-студия RYBA-Design готова предложить Вам полный перечень услуг по проектированию от эскизного проекта до авторского надзора.</p>
        <p>Проект <strong>дизайна интерьера</strong> состоит из трехмерной визуализации всех помещений, планов полов и потолков, разверток стен, схем расположения светильников, розеток, выключателей, сантехники, экспликации материалов и мебели, а также других дополнительных разделов. На основании готового проекта строительная организация реализует все идеи, заложенные в проекте. Мы будем сопровождать проект с момента первых эскизов и до покупки последнего элемента декора.</p>
        <p>Индивидуальное <strong>архитектурное проектирование загородного дома</strong> имеет неоспоримое преимущество перед строительством типового проекта. Индивидуальный проект учитывает все пожелания будущих жителей дома, наиболее рационально использует территорию участка и зонирует ее.
            Архитектурный проект загородного дома состоит из нескольких основных этапов:</p>
        <ol class="ol">
            <li class="ol__item"><strong>Предпроектные проработки</strong>. На этой стадии оговариваются основные пожелания Заказчика, предлагаются различные варианты стилевого и композиционного решения будущего объекта, конструкции, материалов. В результате работ на этом этапе формируется набор аналогов, эскизов или упрощенных 3D макетов.</li>
            <li class="ol__item"><strong>Эскизный архитектурный проект</strong>. Эскизный проект содержит в себе все планировочные решения, фасады, разрезы и трехмерную визуализацию будущего здания, а также проект благоустройства прилегающей территории. На этом этапе, как правило, утверждаются все ключевые моменты проекта, на основании которого разрабатывается Рабочий проект</li>
            <li class="ol__item"><strong>Рабочий проект</strong>. Рабочий проект — комплект проектной документации, включающий в себя разделы АР (Архитектурный раздел) и КР (Конструктивный раздел). Рабочий проект передают строительной организации. В этом разделе разрабатываются все конструктивные решения и решения по инженерному обеспечению здания. Более точный состав разделов оговаривается с Заказчиком перед началом проектирования.</li>
        </ol>
        <p>Перед началом любого проектирования необходимо произвести <strong>геодезические и геологические изыскания</strong>. Мы сотрудничаем со специалистами этого направления и сможем предоставить вам самый полный перечень услуг для подготовки к архитектурному проектированию.</p>
        <p>Также мы предлагаем услуги по разработке <strong>проектов благоустройства</strong> загородных участков и любых общественных территорий, как в городе так и на загородных территориях. В проектах благоустройства описываются: озеленение участка, вертикальная планировка участка, ландшафтный дизайн, малые архитектурные формы, спецификация покрытий.</p>
    </div>
</script>
<script type="text/ng-template" id="price.html">
    <h1 class="sub-header">Цены</h1>
    <div class="paper">
        <p>Стоимость проектных работ в каждом случае рассчитывается индивидуально, так как каждый архитектурный проект — это совокупность множества факторов: от геологического состояния грунтов до стилистических пожеланий Заказчика. Поэтому определить окончательную стоимость разработки проекта можно только после составления и утверждения Заказчиком Технического задания.</p>
        <p>При формировании стоимости проекта учитываются следующие условия:</p>
        <ul class="ul">
            <li class="ul__item">общая площадь здания, помещения или участка</li>
            <li class="ul__item">конструктивная схема здания и используемые материалы</li>
            <li class="ul__item">инженерная инфраструктура</li>
            <li class="ul__item">стилистическое решение объекта.</li>
        </ul>
        <p>Для предварительной оценки мы предлагаем вам самостоятельно оценить стоимость будущего проекта, опираясь на усредненные цены:</p>
        <ol class="ol">
            <li class="ol__item">Архитектурное проектирование (стадия Эскизный проект) — 800 р /м<sup>2</sup></li>
            <li class="ol__item">Архитектурное проектирование (стадия Рабочий Проект) 1500-2000 р/м<sup>2</sup></li>
            <li class="ol__item">Дизайн интерьера 800-1000 р/м<sup>2</sup></li>
            <li class="ol__item">Ландшафтный дизайн 1500 р/сотка</li>
        </ol>
        <p>Дополнительно мы готовы предложить вам услуги по выбору объекта недвижимости (участок, квартира, коммерческая недвижимость), авторский надзор на стадии строительства.</p>
    </div>
</script>
<script type="text/ng-template" id="about.html">
    <h1 class="sub-header">О нас</h1>
    <div class="persons about__wrapper">
        <div class="persons__item person">
            <div class="person__photo person__photo_shumilin"></div>
            <div class="person__head">Алексей Шумилин</div>
            <div class="person__bio">Архитектор<br><br>Выпускник Московского Архитектурного Института 2010 г.<br><br>Архитектурная практика с 2006 г по различным направлениям: проектирование общественных и жилых зданий, градостроительное проектирование, ландшафтное проектирование, дизайн интерьеров.</div>
        </div>
        <div class="persons__gap">&nbsp;</div>
        <div class="persons__item person">
            <div class="person__photo person__photo_bleskina"></div>
            <div class="person__head">Анастасия Блёскина</div>
            <div class="person__bio">Архитектор<br><br>Выпускница Ярославского Государственного Технического Университета 2015 г.<br><br>Архитектурная практика с 2013 г по направлениям: проектирование жилых зданий, дизайн интерьера.</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contacts.html">
    <div class="contacts">
        <p class="contacts__header">Мы с радостью возьмемся за работу над проектом в любом регионе нашей страны.</p>
        <p>Вы можете связаться с нами любым удобным для Вас способом:</p>
        <div>
            <div class="contacts__phone">тел:</div>
            <div class="contacts__persons">
                <span class="contacts__phonenumber">+7-930-101-06-35</span> <span class="contacts__name">Алексей</span><br>
                <span class="contacts__phonenumber">+7-920-125-58-01</span> <span class="contacts__name">Анастасия</span>
            </div>
        </div>
        <p>или напишите нам письмо:<br><a class="link link_bold" href="mailto:rybadesign@mail.ru">rybadesign@mail.ru</a></p>
    </div>
</script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="js/controllers.js"></script>
    </body>
</html>
